body {
	padding-bottom: 2em;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Important 
{ 
     font-size: large; 
     color: Red; 
}

div#navigation span.breadcrumb{
	display:block;
	margin-bottom:0px;
	padding:10px;
}

div#navigation span.breadcrumb span:last-of-type{
	border:1px solid;
	border-bottom:none;
	padding:5px;
	padding-bottom:11px;
	background-color:#ffffff;
}

div#navigation ul{
	background-color:#ffffff;
	margin-top:0px;
	padding:10px;
	border:1px solid;
}

div#navigation ul.children li {
	display:inline;
	padding:5px;
	margin:0px;
}
div#navigation ul.children li:after {
	content:' -- ';
}
div#navigation ul.children li:last-of-type:after {
	content:'';
}

footer{
	position:absolute;
	bottom:0px;
	width:100%;
	margin-top: 20px;
	border:1px solid black;
}