<?xml version="1.0"?>
<!--
Web.config file for Firehall.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <connectionStrings>
    <clear />
    <add name="SqliteDbConnection" connectionString="Data Source=|DataDirectory|app_data.sqlite;Version=3;" />
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="Mono.Data.Sqlite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="Forms" />
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
    <!-- Configure the Membership provider.-->
    <membership defaultProvider="SqliteMembershipProvider">
      <providers>
        <clear />
        <add applicationName="Sqlite ASP.NET Provider" passwordFormat="Clear" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="2" maxInvalidPasswordAttempts="2" enablePasswordReset="true" enablePasswordRetrieval="true" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" connectionStringName="SqliteDbConnection" name="SqliteMembershipProvider" type="TechInfoSystems.Data.Sqlite.SqliteMembershipProvider" />
      </providers>
    </membership>
    <!-- Configure the Role provider.-->
    <roleManager enabled="true" cacheRolesInCookie="true" cookieProtection="Validation" defaultProvider="SqliteRoleProvider">
      <providers>
        <clear />
        <add applicationName="Sqlite ASP.NET Provider" connectionStringName="SqliteDbConnection" name="SqliteRoleProvider" type="TechInfoSystems.Data.Sqlite.SqliteRoleProvider" />
      </providers>
    </roleManager>
    <!-- Configure the Profile provider.-->
    <profile defaultProvider="SqliteProfileProvider">
      <providers>
        <clear />
        <add applicationName="Sqlite ASP.NET Provider" connectionStringName="SqliteDbConnection" name="SqliteProfileProvider" type="TechInfoSystems.Data.Sqlite.SqliteProfileProvider" />
      </providers>
    </profile>
  </system.web>
</configuration>