
<!DOCTYPE html>
<html>

<head>
 <meta charset='utf-8' />
 <meta http-equiv="X-UA-Compatible" content="chrome=1" />
 <meta name="description" content="Leafletslider : LeafletSlider" />
 
 <!-- Login Redirect -->
 <script type="text/javascript">if (!"{{userCtx.name}}") setTimeout(function(){window.location='./auth'},1);</script>
 
 <link rel="stylesheet" type="text/css" media="screen" href="style/screen.css">
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" type="text/css">
 
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
 <script type="text/javascript" src="https://rawgit.com/dwilhelm89/LeafletSlider/master/SliderControl.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.3.0/regression.min.js" integrity="sha256-zyi4loJvZ0U+9M64eRYM3IXdjU2M4wYAnPGQrafn+zw=" crossorigin="anonymous"></script>
 <!--
 <script type="text/javascript" src="/fishdev/_design/trips/scripts/regression.js?nocache=true"></script>
 -->
 
 <title>{{PageTitle}}</title>
</head>

<body>
<header class="inner">
 <h1>{{PageTitle}}</h1>
 <span>{{userCtx.name}}</span>
 
</header>

 <nav id='menu'>
  <ul>
   <li><a href="catchmap">My Catches</a></li>
   <li><a href="stdweight">Standard Weight</a></li>
   <li><a href="experimental">Experiments</a></li>
  </ul>
 </nav>
 
 <nav id='panic'>
  <ul>
   <li><a href="catch">Fish On!</a></li>
  </ul>
 </nav>

<article>
 <div id="map"></div>

 <script>
	
	var map = L.map('map',{zoomControl: false}).setView([44.6869, -63.6846],15);
	var tiles = {
			'thunder':'https://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png'
			,'osm':   'http://{s}.tile.osm.org/{z}/{x}/{y}.png'
		};
	
	L.tileLayer(tiles['osm'], {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
	
	
	var data = {{{mapdata}}};
	
	var heatdata = {min:0,max:0,data:[]};
	for($d in data.features){
		$c = data.features[$d];
		console.debug(JSON.stringify($c));
		heatdata.data.push({
			value:$c.properties.effort
			,lat:$c.geometry.coordinates[1]
			,long:$c.geometry.coordinates[0]
		});
		if(heatdata.max < $c.properties.effort){
			heatdata.max = $c.properties.effort;
		}
	}
	
//	var heatmapLayer = new HeatmapOverlay({
//		// radius should be small ONLY if scaleRadius is true (or small radius is intended)
//		// if scaleRadius is false it will be the constant radius used in pixels
//		"radius": 2,
//		"maxOpacity": 0.8, 
//		// scales the radius based on map zoom
//		"scaleRadius": true, 
//		// if set to false the heatmap uses the global maximum for colorization
//		// if activated: uses the data maximum within the current map boundaries 
//		//   (there will always be a red spot with useLocalExtremas true)
//		"useLocalExtrema": true,
//		// which field name in your data represents the latitude - default "lat"
//		latField: 'lat',
//		// which field name in your data represents the longitude - default "lng"
//		lngField: 'long',
//		// which field name in your data represents the data value - default "value"
//		valueField: 'value'
//	});
//	heatmapLayer.setData(heatdata);
	
	
	var testlayer = L.geoJson(data, {
		onEachFeature: function (feature, layer) {
			// does this feature have a property named popupContent?
			if (feature.properties && feature.properties.popupContent) {
				layer.bindPopup(feature.properties.popupContent);
			}
		}
	});
	
	var zoomControl = L.control.zoom({
		position:'bottomright'
	});
	var sliderControl = L.control.sliderControl({
		position: "bottomright",
		layer: testlayer,
		range: true,
		showAllOnStart: true
	});
	
	
	map.setView([44.6869, -63.6846],15);
	//Make sure to add the slider to the map ;-)
	map.addControl(sliderControl);
	map.addControl(zoomControl);
	//map.addLayer(heatmapLayer);
	
	//And initialize the slider
	sliderControl.startSlider();
 </script>


</article>

</body>
</html>
