html{
	text-align:right;
}
body{
	background-color:white;
}
img {
	border: 0px;
	box-shadow: 0 0 0px;
}
header {
	color:white;
	text-shadow: 
		0px 0px 3px   #000000,
		0   0   0.5em #000000;
	position:absolute;
	bottom:0px;
	text-align:left;
}
header h1{
	margin-bottom:0;
}


nav#menu{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
}
nav#menu ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
nav#menu ul li{
	margin:1em;
}
nav#menu ul li a {
	display: inline-block;
	height: 10em;
	width: 10em;
	padding: 0.75em;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

nav#panic{
	position:absolute;
	top:0.25em;
	left:0px;
	right:0px;
	text-align:center;
}
nav#panic ul{
	margin:0px;
	list-style-type: none;
}
nav#panic ul li{
	display:inline;
}
nav#panic ul li a {
	display: inline-block;
	padding:0.75em;
	border-radius:0.5em;
	text-align: center; 
	background-color:red;
	color: white;
	text-decoration: none;
	font-weight:bolder;
	box-shadow: 0px 0px 3px red;
}

div#map{
	position:absolute;
	left:0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height:100%;
	width:100%;
	z-index:-100;
}

form{
	font-family:sans-serif;
}
form  span {
	display:block;
	margin-top:0.5em;
}
form  span label {
	display:block;
}
form  span label.est{
	display:inline;
	font-size:50%;
}
main {
	display:inline-block;
	text-align:left;
}
main h1 {
	text-shadow: #fff 0 0 4px;
	font-size:150%;
	text-transform:capitalize;
}
fieldset{
	display:inline;
	border:0px;
	padding:0px;
	margin:0px;
	margin-right:2em;
	margin-top:1em;
}
fieldset legend{
	padding:0px;
	margin:0px;
}
